.img1 {
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 1%;
  width: 150px;
}
.color1 {
  background-color: aquamarine;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  
}
::-webkit-scrollbar {
  display: none;
}

.zoom {
  padding: 50px;
  
  transition: transform .2s; /* Animation */
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


  
    
    
   
    
    
    
    