.img1 {
  border-radius: 10px;
  margin: 10px;
  width: 150px;
}

.img1:hover {
  transition: transform 0.5s; /* Animation */
  transform: scale(1.3);
}

.wrapper {
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  display: none;
}

.backgroundcolor1 {
  background-color: #3b185f;
}
.outer {
  height: 90%;
  width: 90%;
}
.color1 {
  color: aliceblue;
}
