.img1 {
  border-radius: 10px;
  margin: 10px;
  width: 150px;
}

.img1:hover {
  transition: transform 0.5s; /* Animation */
  transform: scale(1.3);
}


::-webkit-scrollbar {
  display: none;
}

.backgroundcolor1 {
  background-color: #3b185f;
}
.outer {
  height: 90%;
  width: 90%;
}
.color1 {
  color: rgb(27, 87, 47);
}
.container-fluid{
  background-color: brown;
  
  
  padding-top: 23%;
  padding-right: 10%;
  margin-top: 1%;
  margin-left: 1%;
 
  
}
.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  
}

